<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/insurance_db</property>
        <property name="connection.username">${db.username}</property>
        <property name="connection.password">${db.password}</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="univ.lab.model.Insurance"/>
        <mapping class="univ.lab.model.CarLicense"/>
        <mapping class="univ.lab.model.CarInsurance"/>
        <mapping class="univ.lab.model.HouseLicense"/>
        <mapping class="univ.lab.model.HouseInsurance"/>
        <mapping class="univ.lab.model.LifeInsurance"/>
        <mapping class="univ.lab.model.InsuranceOwner"/>
    </session-factory>
</hibernate-configuration>